{{#each posts}}

<div class="eachPost">
    <a href="/post/{{ id }}">
        <h2>{{ title }}</h2>
    </a>
    <p>by <a href="/posts/{{ author.username }}">{{ author.username }}</a></p>
</div>
{{/each}}