<div>
    <form id="login-form">
        <label>Email:</label>
        <input type="text" id="login-email">
        <Label>Password:</Label>
        <input type="text" id="login-password">
        <button id="login-button">Login</button>
    </form>
</div>
<h2>Don't have an account? Sign up <a href="/signup">here</a>!</h2>