<!-- Login Fail Modal -->
<div class="modal fade" id="loginFailModal" tabindex="-1" aria-labelledby="loginFailModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="loginFailModalLabel">Warning</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Username and/or password are incorrect. Please try again.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>

<div class="login-page">
  <h2>Login</h2>
  <div class="card">
    <div class="card-body">
      <form id="login-form">
        <div class="mb-3">
          <label for="username-login" class="form-label">Username</label>
          <input type="text" class="form-control" id="username-login">
        </div>
        <div class="mb-3">
          <label for="password-login" class="form-label">Password</label>
          <input type="password" class="form-control" id="password-login">
        </div>
        <div class="btn-group" role="group" aria-label="Login button group">
          <button type="button" class="login-page-button btn btn-primary" id="login-submit">Login</button>
          <button type="button" class="login-page-button btn btn-outline-secondary" id="sign-up-redirect">Sign Up</button>
        </div>
`      </form>
    </div>
  </div>
</div>
