{{!-- Password Mismatch Modal --}}
<div class="modal fade" id="passwordMismatchModal" tabindex="-1" aria-labelledby="passwordMismatchModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="passwordMismatchModalLabel">Warning</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Your passwords don't match. Please try again.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>

{{!-- Missing Data Modal --}}
<div class="modal fade" id="missingDataModal" tabindex="-1" aria-labelledby="missingDataModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="missingDataModalLabel">Warning</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Sign up information is incomplete. Please provide missing input.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>

{{!-- Invalid Email Modal --}}
<div class="modal fade" id="invalidEmailModal" tabindex="-1" aria-labelledby="invalidEmailModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="invalidEmailModalLabel">Warning</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Invalid email address. Please enter a valid email.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>

{{!-- Sign Up Form --}}
<div class="signup-page">
  <h2>Sign Up</h2>
  <div class="card">
    <div class="card-body">
      <form id="signup-form">
        <div class="mb-3">
          <label for="username-signup" class="form-label">Username</label>
          <input type="text" class="form-control" id="username-signup">
          <div id="usernameWarning" class="form-text"></div>
        </div>
        <div class="mb-3">
          <label for="email-signup" class="form-label">Email</label>
          <input type="email" class="form-control" id="email-signup" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="password-signup" class="form-label">Password</label>
          <input type="password" class="form-control" id="password-signup">
        </div>
        <div class="mb-3">
          <label for="password-verify-signup" class="form-label">Re-enter Password</label>
          <input type="password" class="form-control" id="password-verify-signup">
        </div>
        <div class="btn-group" role="group" aria-label="Sign up button group">
          <button type="submit" class="signup-page-button btn btn-primary" id="sign-up-button" disabled>Sign Up</button>
          <button type="button" class="signup-page-button btn btn-outline-secondary" id="login-redirect">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
