<div>
    <form id="signup-form">
        <label>Username:</label>
        <input type="text" id="signup-username">
        <label>Email:</label>
        <input type="text" id="signup-email">
        <Label>Password:</Label>
        <input type="password" id="signup-password">
        <button id="signup-button">Sign Up</button>
    </form>
</div>