.login-page-button,
.signup-page-button {
  width: 100px;
}

.card a {
  color: black;
  text-decoration: none;
  transition: background-color 2s ease;
}

.card a:hover {
  background-color: rgba(var(--bs-primary-rgb), .2);
}