main {
  margin: 57px 48px 48px;
  padding-top: 40px
}

.login-page-button,
.signup-page-button,
.modal-button {
  width: 100px;
}

.card {
  border-radius: 0;
}

.card a {
  color: black;
  text-decoration: none;
  transition: background-color 2s ease;
}

.card a:hover {
  background-color: rgba(var(--bs-primary-rgb), .2);
}

.card-content {
  text-align: justify;
}

p {
  margin-top: 0;    /* Remove top margin */
  margin-bottom: 0; /* Remove bottom margin */
}

#dashboard-header {
  margin-bottom: 10px;
}

#dashboard-header,
.card-header-section {
  display: flex;
  justify-content: space-between;
}

.post-button {
  width: 100px;
  height: 35px;
  font-size: 0.8em;
}

.fade-in-out {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.visible {
  opacity: 1;
}

.display-none {
  display: none;
}